* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  width: 100%;
  background-color: #f5f5f5 !important;
}

#form-wrapper {

  form {
    display: inline-block;
    padding: 80px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    h2 {
      margin-bottom: 10px;
    }

    //search exhitbitors
    #searchExhibitor {
      padding: 0px;

      #inputSearch {
        width: 100%;
        border: solid 1px;
        margin-bottom: 10px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
      }
      div {
        // display: flex;
        font-size: 13px;

        .indicator {
          width: 13px;
          height: 13px;
          display: inline-block;
          margin: 0px 5px;
          font-weight: normal !important  ;
        }
        .indiex {
          background-color: rgb(175, 119, 119);
        }
        .indibss {
          background-color: rgb(131, 119, 175);
        }
        .indiasb {
          background-color: rgb(119, 175, 125);
        }
      }
    }
    //search results
    #exhibitorsTable {
      display: block;
      border-collapse: collapse;
      width: 100%;
      font-size: 18px;
      height: 400px !important;
      overflow: auto;
      margin-bottom: 20px;
      padding: 0px;

      tbody {
        width: 100%;
        height: auto;
        display: block;

        tr {
          line-height: 14px;
          position: relative;
          display: block;
          background-color: white;

          td {
            text-align: left;
            display: block;
            border-bottom: 1px solid #ddd;
            label {
              display: block;
              padding: 15px;
              cursor: pointer;
              font-weight: normal !important;
              font-size: 15px;

              input[type="checkbox"] {
                display: inline-block;
              }

              .indicator {
                font-size: 10px;
                padding: 3px;
                right: 10px;
                display: inline-block;
                position: absolute;
              }
              .indiex {
                background-color: rgb(175, 119, 119);
              }
              .indibss {
                background-color: rgb(131, 119, 175);
              }
              .indiasb {
                background-color: rgb(119, 175, 125);
              }
            }
          }
        }

        tr:hover {
          background-color: #f1f1f1;
        }
      }

      tbody tr {
        display: none;
        /*Hide rows by default*/
      }

      tbody tr.visible {
        display: table-row;
        display: block;
        /* Show them when they match */
      }
    }

    #exhibitorBoothNumber {
      padding: 10px 0px;
    }
  }

  //table of selected exhibitors
  form {
    padding: 10px;

    #selectedDataTable {
      border-collapse: collapse;
      width: 100%;
      font-size: 18px;
      display: block;

      tbody {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        border: 1px solid #ddd;
        padding: 5px;

        tr td {
          font-size: 14px;
          color: #333333;
          background-color: #e4e4e4;
          border: 1px solid #aaaaaa;
          border-radius: 6px;
          padding: 0px 8px;
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
